<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<div>
  <div>
    <h1 style="text-transform: capitalize;"> Welcome <%= current_user.username %>! </h1>
    <div class="partition"></div>
    <h2> Local Branches </h2>
    <br>

    <% @branches.each do |branch| %>
      <div class="branch">
        <h4><a href="/branches/<%=branch.id%>"><%= branch.id %> - <%= branch.event %></h4></a>
        <div class="details">
          <h6 class="bullet"><%= branch.organization %><br></h6>
          <h6 class="bullet"><%= branch.date %><br></h6>
          <h6 class="bullet"><%= branch.location %><br></h6>
          <h6 class="bullet"><%= branch.info %></h6>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
