<div style="background-color: #fff; width: 60vw; padding: 1em 7.5em">
<h1 style="text-transform: capitalize;"> Welcome <%= current_user.username %>! </h1>
<h2>- - -</h2>
<h2 style="color: #2E7D32"> Local Branches </h2>
<br>

<% @branches.each do |branch| %>
  <div>
    <h4><b><a href="/branches/<%=branch.id%>"><%= branch.id %> - <%= branch.event %></b></h4></a>
    <h5><%= branch.organization %><br>
    <%= branch.date %><br>
    <%= branch.location %><br>
    <%= branch.info %></h5>
  </div>
  <br>
<% end %>
</div>
