<h1 style="text-transform: capitalize;"> Welcome <%= current_user.username %>! </h1>
<h2> Branches </h2>

<% @branches.each do |branch| %>
  <div>
    <h4><b><%= branch.event %></b></h4>
    <h5><%= branch.organization %><br>
    <%= branch.date %><br>
    <%= branch.location %><br>
    <%= branch.info %></h5>
  </div>
  <br>
<% end %>