<head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<div>
  <div>
    <h1 style="text-transform: capitalize;"> Welcome <%= current_user.username %>! </h1>
    <div class="partition"></div>
    <h2> Local Branches </h2>
    <br>

    <% @branches.each do |branch| %>
      <div class="branch">
        <h3><a href="/branches/<%=branch.id%>"><%= branch.id %> - <%= branch.event %></h3></a>
        <div class="details">
          <h6 class="bullet"><li><%= branch.organization %></li><br></h6>
          <h6 class="bullet"><li><%= branch.date %></li><br></h6>
          <h6 class="bullet"><li><%= branch.location %></li><br></h6>
          <h6 class="bullet"><li><%= branch.info %></li></h6>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
