<div style="background-color: #fff; width: 60vw; padding: 1em 7.5em; border-radius: 1.25em">
<h3><%= @branch.event %></h3>
<h4><%= @branch.organization %></h4>
<h4><%= @branch.date %></h4>
<h4><%= @branch.location %></h4>
<p><%= @branch.info %></p>

<br>
<form method="post" action="/branches/<%=@branch.id%>/delete">
  <button id="hidden" class="btn btn-danger" type="hidden" name="_method" value="DELETE">Delete Branch</button>
</form>
<br>
<a href="/branches/<%=@branch.id%>/edit"><button type="button" class="btn btn-warning">Edit Branch</a></button>
</div>